/* CaveatBrush Regular */
@font-face {
    font-family: 'Caveat Brush';
	src: url(./fonts/CaveatBrush-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    unicode-range: "U+0-10FFFF";
}

/* Raleway regular */
@font-face {
    font-family: Raleway;
	src: url(./fonts/Raleway-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    unicode-range: "U+0-10FFFF";
}

/* Raleway bold */
@font-face {
    font-family: Raleway;
	src: url(./fonts/Raleway-Bold.ttf);
    font-weight: bold;
    font-style: normal;
    unicode-range: "U+0-10FFFF";
}

header {
    border-top: #ffbc00 25px solid;    
}

footer {
    background-color: #141414;
    margin-top: 50px;
    height: 150px;
    padding-top: 25px;
}

.title-moni {
	text-align: center;
}

.title-moni h1 {
	font-family: 'Caveat Brush';
	font-size: 11vw;
	color: black;
}

.text-moni {

}

.text-moni h2 {
	font-family: 'Raleway';
	font-size: 3vw;
	color: black;
}

.btn-moni {
	width: 100%;
	margin: 15px;
    background-color: #ffbc00;
    border: 1px solid #ffbc00;
    font-family: 'Raleway';
    color: black;
    font-weight: bold;
}

#idvideo {
	margin-left: auto;
    margin-right: auto;
    display: block;	
}

.video-moni {

}